<!-- ya no usamos este contenedor pk lo ponemos en el ts en el componente -->
<!-- <div id="status"> -->

<!-- con vinculacion de clases , forma 1 -->
<!-- <div [class.status]="currentStatus === 'online'"> -->
<!-- forma 2 con objetos y asi se le asignan clases y stilos 'dinamicamente', algo que facilmente se le podria hacer validacion en la propia etiqueta con operadores ternarios pero bueno -->
<div [class]="{
  status: true,
  'status-online': currentStatus === 'online',
  'status-offine': currentStatus === 'offline',
  'status-unknow': currentStatus === 'unknown'
 }" [style]="{
  
 }">
    @if (currentStatus === 'online') {
    <p>Servers estan en linea</p>
    <p>All systems are operational.</p>
    } @else if (currentStatus === 'offline') {
    <p>Servers are offline</p>
    <p>Functionality should be restored soon.</p>
    } @else {
    <p>Server status is unknown</p>
    <p>Fetching server status failed.</p>
    }
</div>
<!-- </div> -->